.navi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 30%;
    justify-content: space-around;
    align-items: center;

    &__item {
      margin: 10px;
      border: #61dafb solid 1px;

      &__link {
        color: black;
        text-decoration: none;

        &__active {
          font-weight: bold;
          background-color: bisque;
        }
      }
    }
  }
}
